<template lang="pug">
i-container(fluid)
	i-row._text-left._margin-top-5._padding-2#up(center-xs middle-xs)
		i-column(md='4')
			i-card._text-left(variant="light" style="max-width: 350px")
				img(slot='image' src='../assets/images/vintage-test-one.jpg' alt='Card Image')
				h4.title Off the Air
				h6.subtitle Ends Our Broadcast Day
				p._text-left.

					Vιμ νο vολθπτθα αππελλαντθρ ρεπρεηενδθντ. Ατ δθισ απεριαμ vολθπταρια μεα. Ιδ αλιι δεβιτισ περφεcτο περ.

				//- i-button._margin-right-1(variant="secondary" href="#down") Tell a Vision

				i-button(variant='primary' @click='visible = true') New Modal Army 

				i-modal(fill variant='secondary' v-model='visible')
					div(slot='header')
						| Engenho Novo do Povo

					| Vιμ νο vολθπτθα αππελλαντθρ ρεπρεηενδθντ. Ατ δθισ απεριαμ vολθπταρια μεα. Ιδ αλιι δεβιτισ περφεcτο περ.

					div(slot='footer')
						| Source: Brasil de Fato

		i-column(md='4')
			i-card._text-left(variant="dark" style="max-width: 350px")
				img(slot='image' src='../assets/images/vintage-test-one.jpg' alt='Card Image')
				h4.title Tune In
				h6.subtitle Turn On & Drop Out
				p.

					Vιμ νο vολθπτθα αππελλαντθρ ρεπρεηενδθντ. Ατ δθισ απεριαμ vολθπταρια μεα. Ιδ αλιι δεβιτισ περφεcτο περ.

				i-button(variant="secondary") Tell a Vision

		i-column(md='4')
			i-card(variant="light" style="max-width: 350px")
				img(slot='image' src='../assets/images/vintage-test-one.jpg' alt='Card Image')
				h4.title Signal to Noise
				h6.subtitle Radiation Nation
				p.

					Vιμ νο vολθπτθα αππελλαντθρ ρεπρεηενδθντ. Ατ δθισ απεριαμ vολθπταρια μεα. Ιδ αλιι δεβιτισ περφεcτο περ.

				i-button(variant="secondary") Tell a Vision

	i-row._text-left._padding-2._margin-top-3#down(center-xs middle-xs)
		i-column(md='4')
			i-card._text-left(variant="dark" style="max-width: 350px")
				img(slot='image' src='../assets/images/linotpographer.jpg' alt='Card Image')
				h4.title Typical Lineup
				h6.subtitle Type-A Personality
				p._text-left.

					Vιμ νο vολθπτθα αππελλαντθρ ρεπρεηενδθντ. Ατ δθισ απεριαμ vολθπταρια μεα. Ιδ αλιι δεβιτισ περφεcτο περ.

				i-button(variant="secondary" href="#top") 
					i.material-icons.md-24._margin-right-1-4 keyboard_arrow_up
					| Scroll Up

		i-column(md='4')
			i-card._text-left(variant="light" style="max-width: 350px")
				img(slot='image' src='../assets/images/linotpographer.jpg' alt='Card Image')
				h4.title Aligning Type
				h6.subtitle Is Hot Lead Dead?
				p.

					Vιμ νο vολθπτθα αππελλαντθρ ρεπρεηενδθντ. Ατ δθισ απεριαμ vολθπταρια μεα. Ιδ αλιι δεβιτισ περφεcτο περ.

				i-button(variant="danger") Tell a Vision

		i-column(md='4')
			i-card(variant="secondary" style="max-width: 350px")
				img(slot='image' src='../assets/images/linotpographer.jpg' alt='Card Image')
				h4.title Typecast As Ultrapassado
				h6.subtitle With Ink You Cannot Think
				p.

					Vιμ νο vολθπτθα αππελλαντθρ ρεπρεηενδθντ. Ατ δθισ απεριαμ vολθπταρια μεα. Ιδ αλιι δεβιτισ περφεcτο περ.

				i-button(variant="dark") Tell a Vision


</template>
<script>
export default {
		methods: {
				toggleDarkMode() {
						this.$inkline.config.variant = this.$inkline.config.variant === 'light' ? 'dark' : 'light';
				}
		},
	data () {
		return {
			visible: false
		};
	}
}
</script>>

<style>

.recipiente {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-image {
  background-image: url("../assets/images/midtowwnfrown.jpg");
  min-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	position: relative;
	margin: 0x 0x 0x 0x;
}

#bg {
		filter: grayscale(25%) brightness(80%) opacity(199%);
}

#header {
	background-image: url('../assets/images/vintage-test-two.jpeg');
	width: 100vw;
	height: auto;
	position: relative;
	overflow: hidden;
	color: white;
	filter: opacity(100%) grayscale(100%);
}

.debenture {
	min-height: calc(100vh - 150px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
</style>
