<template lang="pug">
	//- i-container(fluid)
	//- 	.debenture
	i-header._text-center(fullscreen)
			i-row(center-xs)
			i-column._display-flex_justify-content-center(xs="12")
				h1
					i.fas.fa-chess.fa-4x
				h1._margin-bottom-1 Inkspots Harmonies
				h2._margin-top-0 Flourished in the Fifties
				h3._margin-top-0._margin-bottom-2 My Echo My Shadow and Me
				._display-flex._display-flex._justify-content-center
					nuxt-link(to="/ideographs")
						i-button._margin-right-1(variant='primary' to="/") Linotype
					i-button._margin-right-1(variant='dark') Hypertext
					i-button._margin-right-1(variant='secondary' @click="toggleDarkMode") Manuscript
					i-button(variant="primary" to="/") Rosetta Stone

</template>
<script>
export default {
    methods: {
        toggleDarkMode() {
            this.$inkline.config.variant = this.$inkline.config.variant === 'light' ? 'dark' : 'light';
        }
    }
}
</script>>

<style scoped>

i-container {
	min-height: 100vh;
}

#bg {
	filter: grayscale(100%) contrast(50%);
}

.debenture {
	min-height: calc(100vh - 150px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
</style>
