<template lang="pug">
i-cohtainer(fluid)
	#bg
		img(src="../assets/images/nyc-dynamo.jpg")
	.hero-text
			h1
				i.fas.fa-bullseye.fa-4x._margin-bottom-0
			h1._margin-bottom-2 Trying To Tell a Vision
			i-button(variant="primary" size="lg") Richard Hell
			i-button._margin-left-1(variant="dark" size="lg") Tom Verlaine
</template>
<script>
export default {
		methods: {
				toggleDarkMode() {
						this.$inkline.config.variant = this.$inkline.config.variant === 'light' ? 'dark' : 'light';
				}
		},
	data () {
		return {
			visible: false
		};
	}
}
</script>>

<style>

.recipiente {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-image {
  background-image: url("../assets/images/midtowwnfrown.jpg");
  min-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	position: relative;
	margin: 0x 0x 0x 0x;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  background-color: black;
  background-blend-mode: multiply;
  filter: brightness(70%);
}

#header {
	background-image: url('../assets/images/vintage-test-two.jpeg');
	width: 100vw;
	height: auto;
	position: relative;
	overflow: hidden;
	color: white;
	filter: opacity(100%) grayscale(100%);
}

.debenture {
	min-height: calc(100vh - 150px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
</style>
