$color-white: #ffffff;
$color-primary: #607D8B;
$color-secondary: #2F4F4F;
$color-success: #006400;
$color-danger: #b22222;
$modal-font-size: 18px;
$font-family-primary-base: "News Cycle", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
