  <template>
  <div class="full-control">
    <div class="list">
      <md-list :md-expand-single="expandSingle">
        <md-list-item md-expand :md-expanded.sync="expandNews">
          <md-icon>whatshot</md-icon>
          <span class="md-list-item-text">News</span>

          <md-list slot="md-expand">
            <md-list-item class="md-inset">World</md-list-item>
            <md-list-item class="md-inset">Europe</md-list-item>
            <md-list-item class="md-inset">South America</md-list-item>
          </md-list>
        </md-list-item>

        <md-list-item md-expand>
          <md-icon>videogame_asset</md-icon>
          <span class="md-list-item-text">Games</span>

          <md-list slot="md-expand">
            <md-list-item class="md-inset">Console</md-list-item>
            <md-list-item class="md-inset">PC</md-list-item>
            <md-list-item class="md-inset">Phone</md-list-item>
          </md-list>
        </md-list-item>

        <md-list-item md-expand>
          <md-icon>video_library</md-icon>
          <span class="md-list-item-text">Video</span>

          <md-list slot="md-expand">
            <md-list-item class="md-inset">Humor</md-list-item>
            <md-list-item class="md-inset">Music</md-list-item>
            <md-list-item class="md-inset">Movies</md-list-item>
            <md-list-item class="md-inset">TV Shows</md-list-item>
          </md-list>
        </md-list-item>

        <md-list-item>
          <md-icon>shopping_basket</md-icon>
          <span class="md-list-item-text">Shop</span>
        </md-list-item>
      </md-list>
    </div>
    <div class="control">
      <md-switch v-model="expandSingle">Expand Only One</md-switch>
      <md-checkbox v-model="expandNews">Expand News</md-checkbox>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ListExpansion',

    data () {
      return {
        expandNews: false,
        expandSingle: false
      }
    }
  }
</script>

<style lang="scss" scoped>
  $list-width: 320px;

  .full-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }

  .list {
    width: $list-width;
  }

  .full-control > .md-list {
    width: $list-width;
    max-width: 100%;
    height: 400px;
    display: inline-block;
    overflow: auto;
    border: 1px solid rgba(#000, .12);
    vertical-align: top;
  }

  .control {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
</style><template lang="pug">
#app
  i-navbar(size="lg" variant="dark" fluid style="z-index: 1001; position: fixed; top: 0; width: 100%")
    i-navbar-brand._margin-left-2(to='/' style="font-size: 22px;") 
      i.fas.fa-sun.fa-2x._margin-right-1
      | Engenhoca da Maloca
    i-navbar-items
      i-nav
        i-nav-item(to="radio") Rádio
        i-nav-item(to="television") Televisão
        i-nav-item(to="about") Rede
        i-nav-item(to="about") Este Projeto
      i-nav
        i-dropdown(placement='bottom-end')
          i-button._margin-right-1(variant='primary') 
            i.material-icons._margin-right-1-3 keyboard_arrow_down
            | Discourse Genres
          i-dropdown-menu._padding-2(variant="dark")
            i-dropdown-item(href) 
              i.material-icons.md-24._margin-right-1 beach_access
              | Tittle-Tattle
            i-dropdown-item(href) 
              i.material-icons.md-24._margin-right-1 mic
              | Canards
            i-dropdown-item(href disabled) 
              i.material-icons.md-24._margin-right-1 all_inclusive
              | Whispers
            i-dropdown-divider
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 directions_bike
              | Smear Campaign
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 my_location
              | Mudslinging
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 place
              |Scuttlebutt
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 rss_feed
              | Chatter
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 wifi
              | Powwow
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 waves            
              | Bull Session
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 settings_input_antenna 
              | Gabfest
  router-view
</template>

<style lang="scss">
#app   {
  font-family: "News Cycle", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i {
  vertical-align: middle;
}

i-nav-item {
  font-size: 20px !important;
}

Hero Image W3

body, html {
    height: 100%;
}

.hero-image {
  background-image: url("./assets/images/midtowwnfrown.jpg");
  //- height: 100%;
  min-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

     i, .material-icons {
        vertical-align: middle;
      }

      /* Rules for sizing the icon. */
      .material-icons.md-18 { font-size: 18px; }
      .material-icons.md-24 { font-size: 24px; }
      .material-icons.md-36 { font-size: 36px; }
      .material-icons.md-48 { font-size: 48px; }
      .material-icons.md-60 { font-size: 60px; }
      .material-icons.md-72 { font-size: 72px; }
      .material-icons.md-84 { font-size: 84px; }
      .material-icons.md-96 { font-size: 96px; }

</style>
