<template lang="pug">
#app
  i-navbar(size="lg" variant="dark" fluid style="z-index: 1001; position: fixed; top: 0; width: 100%")
    i-navbar-brand._margin-left-2(to='/' style="font-size: 22px;") 
      i.fas.fa-sun.fa-2x._margin-right-1
      | Engenhoca da Maloca
    i-navbar-items
      i-nav
        i-nav-item(to="about") Rádio
        i-nav-item(to="about") Televisão
        i-nav-item(to="about") Rede
        i-nav-item(to="about") Este Projeto
      i-nav
        i-dropdown(placement='bottom-end')
          i-button._margin-right-1(variant='primary') 
            i.material-icons._margin-right-1-3 keyboard_arrow_down
            | Discourse Genres
          i-dropdown-menu._padding-2(variant="dark")
            i-dropdown-item(href) 
              i.material-icons.md-24._margin-right-1 beach_access
              | Tittle-Tattle
            i-dropdown-item(href) 
              i.material-icons.md-24._margin-right-1 mic
              | Canards
            i-dropdown-item(href disabled) 
              i.material-icons.md-24._margin-right-1 all_inclusive
              | Whispers
            i-dropdown-divider
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 directions_bike
              | Smear Campaign
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 my_location
              | Mudslinging
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 place
              |Scuttlebutt
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 rss_feed
              | Chatter
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 wifi
              | Powwow
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 waves            
              | Bull Session
            i-dropdown-item 
              i.material-icons.md-24._margin-right-1 settings_input_antenna 
              | Gabfest
  router-view
    
    
</template>

<style lang="scss">
#app   {
  font-family: "News Cycle", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i {
  vertical-align: middle;
}

i-nav-item {
  font-size: 20px !important;
}

Hero Image W3

body, html {
    height: 100%;
}

.hero-image {
  background-image: url("./assets/images/midtowwnfrown.jpg");
  //- height: 100%;
  min-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

     i, .material-icons {
        vertical-align: middle;
      }

      /* Rules for sizing the icon. */
      .material-icons.md-18 { font-size: 18px; }
      .material-icons.md-24 { font-size: 24px; }
      .material-icons.md-36 { font-size: 36px; }
      .material-icons.md-48 { font-size: 48px; }
      .material-icons.md-60 { font-size: 60px; }
      .material-icons.md-72 { font-size: 72px; }
      .material-icons.md-84 { font-size: 84px; }
      .material-icons.md-96 { font-size: 96px; }

</style>
